/* ==========================================================================
 * bootstrap-datepicker.js
 * A simple, lightweight Bootstrap-powered datepicker.
 * https://github.com/schreifels/removeable-bootstrap-datepicker
 * ==========================================================================
 * By Mike Schreifels, based on Stefan Petre's http://www.eyecon.ro/bootstrap-datepicker/
 */

.datepicker {
  padding: 4px;
}

.datepicker tbody > tr > td,
.datepicker thead > tr > th {
  text-align: center;
  padding: 1px;
}

.datepicker tbody > tr > td a,
.datepicker thead > tr > th a,
.datepicker .datepicker-days-of-week th {
  padding: 4px;
}

.datepicker a {
  color: #000;
  display: block;
}

.datepicker a:hover {
  text-decoration: none;
  border-radius: 4px;
  background: #f2f2f2;
}

.datepicker a.datepicker-outside {
  color: #ccc;
}

.datepicker a.datepicker-active {
  color: #fff;
  border-radius: 4px;
  background: #006dcc;
}

.datepicker .datepicker-months tbody a,
.datepicker .datepicker-years tbody a {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
